body {
  height: 3000px;
  font-family: arial;
}

.sidebar-1 {
  position: fixed;
  background-color: rgb(32, 32, 32);
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
}

.pp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-bottom: 5px;
}

.sidebar-2 {
  position: fixed;
  background-color: rgb(66, 66, 66);
  bottom: 0;
  top: 0;
  left: 70px;
  width: 200px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.info {
  color: white;
  font-weight: bold;
}

.plus {
  color: rgb(207, 207, 207);
  font-size: 30px;
}

.subject {
  color: rgb(207, 207, 207);
  margin-bottom: 15px;
}