body {
  height: 3000px;
  font-family: arial;
}

.cloth-container {
  position: relative;
  display: inline-block;
}

.cloth {
  background-color: rgb(211, 211, 211);
  padding: 30px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.sales-tag {
  color: white;
  background-color: black;
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 10px;
}

.overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  position: absolute;
}
