div {
  font-family: arial;
}

.tweet {
  display: flex;
  width: 500px;
  margin-left: 10px;
  margin-top: 20px;
}

.pp {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.tweet-column {
  flex: 1;
}

.name-box {
  display: flex;
  margin-bottom: 5px;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.handle {
  font-size: 18px;
  color: gray;
  margin-left: 5px;
}

.body {
  font-size: 18px;
  line-height: 22px;
}

.link-box {
  display: flex;
  border-radius: 20px;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  width: 400px;
  overflow: hidden;
}

.thumbnail {
  background-color: rgb(221, 221, 221);
  width: 180px;
  height: 110px;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
}

.link {
  color: gray;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 18px;
}

.link-info {
  margin-left: 10px;
  line-height: 22px;
  font-size: 18px;
}
