div {
  font-family: arial;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(111, 36, 155);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center;
}

.home {
  font-weight: bold;
}

.search-bar {
  width: 500px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin-left: 40px;
  margin-right: 40px;
}

.download {
  border-color: white;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

