.uber {
  background-color: black;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber:hover {
  opacity: 0.8
}

.amazon {
  background-color: rgb(255, 216, 20);
  border: none;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.amazon:hover {
  background-color: rgb(255, 136, 0);
}

.github {
  background-color: rgb(46, 164, 79);
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.github:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}