.link {
  color: rgb(0, 113, 133);
  font-size: 24px;
  cursor: pointer;
  transition: color 0.15s;
}

.link:hover {
  color: rgb(216, 142, 5);
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.price {
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: 24px;
}

.promo {
  font-size: 24px;
}

.cart {
  background-color: rgb(255, 216, 20);
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15s;
}

.cart:hover {
  background-color: rgb(221, 185, 4);
}
.cart:active {
  opacity: 0.5;
}

.buy {
  background-color: rgb(255, 164, 28);
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s, opacity 0.15s;
}

.buy:hover {
  background-color: rgb(221, 138, 15);
}
.buy:active {
  opacity: 0.5;
}