.bootstrap {
  background-color: rgb(121, 82, 179);
  border: none;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.bootstrap:hover {
  background: rgb(58, 15, 139);
}

.download {
  background-color: white;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-width: 1px;
  color: rgb(108, 117, 125);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.download:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}