.apply {
  background-color: rgb(10, 102, 194);
  border: none;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s;
}

.apply:hover {
  background-color: rgb(5, 53, 100);
}

.save {
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 1px;
  color: rgb(10, 102, 194);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s, 
  border-width 0.15s,
  padding 0.15s;
}

.save:hover {
  background-color: rgb(238, 246, 255);
  border-width: 2px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 31px;
  padding-right: 31px;
}