.shadow {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  color: white;
  background-color: green;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: margin 0.15s, box-shadow 0.15s;
}

.shadow:active {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: none;
}