p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  margin-bottom: 5px;
}

.author {
  font-weight: bold;
}

.author-id {
  color: gray;
}

.body {
  width: 500px;
  margin-bottom: 20px;
  line-height: 20px;
}

.tag {
  color: rgb(29, 155, 240);
  cursor: pointer;
}