p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.price {
  font-size: 32px;
}

.usd {
  color: gray;
}

.change-today {
  color: green;
  margin-top: 5px;
  margin-bottom: 5px;
}

.after {
  color:gray;
}

.change {
  color:red;
}