p {
  font-family: verdana;
  margin-top: 0;
  margin-bottom: 0;
}

.main-title {
  font-weight: bold;
  font-size: 24px;
}

.sub-title {
  font-size: 20px;
  color: gray;
  margin-bottom: 18px;
}

.body {
  width: 300px;
  margin-bottom: 18px;
}

.get-start {
  border: none;
  background-color: green;
  color: white;
  font-family: verdana;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  cursor: pointer;
  }