.tahoma {
  font-weight: bold;
  font-family: tahoma;
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-family: arial;
  margin-top: 0;
  margin-bottom: 0;
}

.big-deal {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.sales-end {
  font-style: italic;
  color: red;
  font-size: 16px;
}