.div1 {
  background-color: red;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.div2 {
  background-color: green;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.div3 {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  width: 300px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: arial;
  margin-bottom: 20px;
}

.div4 {
  font-family: arial;
  background-color: rgb(44, 43, 43);
  color:white;
  padding-bottom: 10px;
  padding-top: 1px;
  width: 380px;
  padding-left:20px;
  margin-bottom: 20px;
}

.install {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.text1 {
  color:rgb(197, 197, 197);
}

.div5 {
  border-style: solid;
  border-radius: 10px;
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 550px;
  padding-left: 14px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5)
}

.pp {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  vertical-align: middle;
}

.text {
  font-family: arial;
  color: gray;
  vertical-align: middle;
  margin-left: 14px;
  border: none;
  font-size: 20px;
}

.btn {
  margin-left: 100px;
  color:white;
  vertical-align: middle;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(0, 174, 255);
  border: none;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
}